.header__lang-link{
    margin: 0;
    padding: 0;
    color: white;

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 117% */
    
    
}

.header__lang-link:last-child{
    margin-left: 18px;
}
