.lead{
    max-width: 984px;
    width: 100%; /**/
    margin:auto;
    margin-top: 48px;
    margin-bottom: 0;
    text-align: center;
    
}

@media screen and (max-width: 1024px) {
    .lead{
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead{
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead{
        max-width: 320px;
    }
}