.place__website{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #FFFFFF;
    
    cursor: pointer;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    

    transition: opacity 0.5s;
}

.place__website:hover{
    opacity: 0.8;
    
}
